<a href="https://colab.research.google.com/github/aniketbachhas/housing_prices/blob/main/Housing_Prices_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Housing Prices in Mumbai - Analysis

In [1]:
#Libraries
import numpy as np
import pandas as pd

In [2]:
#Read Dataset
data = pd.read_csv('/content/Mumbai1.csv')
data.head()

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0

In [3]:
#Examine Shape of Data
data.shape

(6347, 19)

In [4]:
#Extract Column Headers (for Shortlisting and Understanding data)
columns = list(data.columns)
columns

['Unnamed: 0',
 'Price',
 'Area',
 'Location',
 'No. of Bedrooms',
 'New/Resale',
 'Gymnasium',
 'Lift Available',
 'Car Parking',
 'Maintenance Staff',
 '24x7 Security',
 "Children's Play Area",
 'Clubhouse',
 'Intercom',
 'Landscaped Gardens',
 'Indoor Games',
 'Gas Connection',
 'Jogging Track',
 'Swimming Pool']

In [7]:
#Check for Null Values for Price Column
np.sum(pd.isnull(data.Price))

0

In [8]:
#Check for Null Values for Area Column
np.sum(pd.isnull(data.Area))

0

In [9]:
#Check for Null Values for Location
np.sum(pd.isnull(data.Location))

0